:root {
    --bg-header: #000;
    --bg-light: #FFF;
    --bg-dark: #000;
    --bg-secondary: #EDEDED;
    --text-light: #FFF;
    --text-dark: #000;
    --secondary-text: #BBB;
    --border-services: #333;
    --primary-color: #B88B58;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}





/* MENU STYLES */

header {
    height: 100px;
    background-color: var(--bg-header);
}

.hd-container {
    max-width: 1140px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    color: var(--text-light);
}

.logo {
    display: flex;
    align-items: center;
    height: 100px;
    margin-right: 20px;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}

.menu ul,
.menu li {
    list-style: none;
}

.menu ul {
    display: flex;
}

.menu li a {
    display: flex;
    align-items: center;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--text-light);
    text-decoration: none;
    padding: 0 15px;
    font-size: 12px;
    height: 100px;
    border-bottom: 4px solid var(--bg-header);
    transition: all 0.2s;
}

.menu li a:hover,
.active {
    border-bottom: 4px solid var(--primary-color) !important;
    color: #CCC;
}

.button {
    text-decoration: none;
    background-color: var(--primary-color);
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 10px;
    color: var(--text-light);
    margin-top: 50px;
}





/* STYLES BANNER AREA */

.banner {
    background-color: #333;
    height: calc(100vh - 100px);
    background-image: url('../../media/bg.jpg');
    background-position: top;
    background-size: cover;
    overflow: hidden;
}

.banner .sliders {
    width: 1000vw;
    height: 100%;
}

.banner .slide {
    display: inline-block;
    width: 100vw;
    height: 100%;
    background-color: rgba(16, 16, 16, 70%);
}

.banner .slide-area {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text-light);
    text-transform: uppercase;
    font-size: 40px;
}

.banner .slide-area h2 span {
    font-size: 67px;
    color: var(--primary-color);
}

.banner .slide-area h3 {
    margin-top: 10px;
    font-size: 20px;
}

.banner .sliders-dots {
    width: 100vw;
    height: 15px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -270px;
}

.banner .dot {
    width: 12px;
    height: 12px;
    border: 2px solid var(--primary-color);
    border-radius: 6px;
    margin: 0 5px;
    cursor: pointer;
}

.banner .dot.active {
    background-color: var(--primary-color);
}




/* DEFAULT SETTINGS */

.default {
    padding: 50px 0;
}


.default .section-title {
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}

.default .section-title h3 {
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 40px;
    color: var(--secondary-text);
}

.default .section-content {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
}





/* THEMES SETTINGS */

.default.light {
    background-color: var(--bg-light);
}

.default.light .section-title h2 {
    color: var(--text-dark);
}

.default.dark {
    background-color: var(--bg-dark);
    color: var(--text-light);
}





/* ABOUT US STYLES */

.about-us .left-side {
    flex: 1;
}

.about-us .left-side p {
    line-height: 30px;
}

.about-us .right-side {
    width: 500px;
}

.about-us .right-side img {
    width: 480px;
    text-align: center;
    box-shadow: 0px 5px 10px rgba(16, 16, 16, 50%);
}





/* SERVICES AREA */

.services {
    display: flex;
}

.services .service {
    flex: 1;
    text-align: center;
    border-right: 3px solid var(--border-services);
}

.services .service:first-child {
    border-left: 3px solid var(--border-services);
}

.service-icon {
    margin-bottom: 40px;
}

.service h2 {
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 10px;
}

.service p {
    font-size: 12px;
    color: var(--secondary-text);
}





/* PROJECTS AREA */

.our-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-projects .projects-menu {
    background-color: var(--bg-secondary);
    border: 1px solid #D0D0D0;
    border-radius: 30px;
    width: 55%;
    display: flex;
    justify-content: center;
}

.projects-menu ul {
    display: flex;
    padding: 3px 0px;
}

.projects-menu li {
    list-style: none;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #D0D0D0;
    padding: 10px;
}

.projects-menu li:last-child {
    border-right: none;
}

.projects-menu a:hover,
.projects-menu a.activate {
    border-bottom: 4px solid var(--primary-color);
}

.projects-menu li a {
    text-decoration: none;
    color: var(--text-dark);
    text-transform: uppercase;
}